<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>w-theme/tailwindcss</title>
    <link href="./index.css" rel="stylesheet" />
  </head>
  <body>

  <div class="flex flex-col justify-center items-stretch w-full min-h-screen p-[40px] gap-[40px]">
    <!-- theme sampler -->
    {% for theme in ["theme", "theme dark"] %}
      <div class="{{ theme }}" style="background:transparent;">
        <article class="p-2xl bg-subtle flex justify-center rounded-3xl">
          <div class="p-xl bg rounded-2xl shadow-lg shadow-shadow/25 space-y-md max-w-2xl">

            <!-- header + code block -->
            <div class="flex flex-col gap-lg">

              <!-- header -->
              <div>
                <h1 class="text-xl font-bold">w theme</h1>
                <p class="text-subtle text-sm">A theme schema designed for consistency and flexibility.</p>
              </div>


            </div>

            <!-- color samples -->
            <div class="col-span-2 grid grid-cols-2 gap-lg">
              {% for variant in palette %}
                <article class="w/{{variant}} bg-subtle flex flex-col gap-md border border-solid border-tint p-md shadow shadow-shadow/25 rounded-md">

                  <div class="grid grid-cols-5 items-center">
                    <!-- heading -->
                    <div class="col-span-3">
                      <h1 class="text-xs text-left font-bold leading-none tracking-wide uppercase">{{variant}}</h1>
                    </div>

                    <div class="col-span-2 grid grid-cols-2 gap-sm">
                      <button class="w/{{ variant }} w/tint transition rounded p-xs px-sm">
                        A
                      </button>
                      <button class="w/{{ variant }} w/solid transition rounded p-xs px-sm">
                        B
                      </button>
                    </div>
                  </div>

                  <div class="flex justify-between">
                    {% for color in colorScale %}
                      <div
                        class="w-lg h-lg rounded-full border border-2 border-bg"
                        style="background:rgb(var(--w-{{ variant }}-{{ color }}))">
                      </div>
                    {% endfor %}
                  </div>

                </article>


              {% endfor %}
            </div>

          </div>
        </article>
      </div>
    {% endfor %}
    </div>

    <script type="module" src="/index.mjs"></script>
    <!-- <script type="module" src="/w-debugger.js"></script> -->
  </body>
</html>
